.textarea{
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #837d7993;
    border-radius:10px;
    padding: 10px 20px;
    width: 100%;
    resize: none;
    outline: none;
    height: 100px;
    &::placeholder{
        color: #A0AEC0;
    }
}   
.textareaError{
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #E93636;
    border-radius:10px;
    padding: 10px 20px;
    width: 100%;
    resize: none;
    outline: none;
    height: 100px;
    margin: 0;
}
.label{
    color: #A0AEC0;
    font-size: 14px;
}
.error{
    color: #E93636;
}
