.kanban{
    margin: 120px 0 0 0;
    width: 90%;
    &__inner{
        margin: 20px 0 20px 0;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        background: rgb(6,11,38);
        background: linear-gradient(90deg, rgba(6,11,38,0.9429972672662815) 24%, rgba(26,31,55,0) 130%);
        width:300px;
        padding: 10px 0;
        margin: 0;
        text-align: center;
        border-radius: 12px;
    }
    // стиль кнопки компонента
    .buttonPlus{ 
        font-size: 26px;
        line-height: 20px;
        margin: 0 10px 0 70px;
    }
}

.formWindow{
    display: flex;
    flex-direction: column;
    width: 324px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(10,14,35);
    background: linear-gradient(135deg, rgba(10,14,35,1) 49%, rgba(6,11,40,0.5228292000393908) 94%);
    border-radius: 20px;
    padding: 15px;
}
.formInputs{
    margin: 5px 0 10px 0;
}
.formAction{
    display: flex;
    justify-content: space-between;
}
.actionColors{
    display: flex;
    justify-content: space-between;
    width: 65%;
    align-items: center;
}
.actionColor{
    width: 25px;
    height: 25px;   
    cursor: pointer;
    border-radius: 5px;
}