.kanban{
    position: relative;
    
    &__wrapper{
        margin: 60px 0 0 0;
    }
    
    &__window{
        width: 350px;
        height: 265px;
        background: rgb(6,11,38);
        background: linear-gradient(90deg, rgba(6,11,38,0.9429972672662815) 24%, rgba(26,31,55,0) 130%);
        position: absolute;
        border-radius: 20px;
        top: 400px;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 15px;
    }
}
.colorsWrapper{
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
}
.colorsPalette{
    display: flex;
}
.colorsOption{
    width: 22px;
    height: 22px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}